server:
  port: 1121
spring:
  application:
    name: xiao-admin
  # 消费者
  kafka:
    bootstrap-servers: 192.168.20.221:9092
    consumer:
      group-id: ${spring.application.name}-kafka-group
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3307/xiao_admin?serverTimezone=Asia/Shanghai&allowMultiQueries=true&useSSL=false
    username: root
    password: 123456
  cloud:
    nacos:
      discovery:
        server-addr: 192.168.20.221:8848
    alibaba:
      seata:
        tx-service-group: ${spring.application.name}_tx_group
  servlet:
  multipart:
  max-file-size: 100MB
# 设置Mapper接口所对应的XML文件位置，如果你在Mapper接口中有自定义方法，需要进行该配置
mybatis-plus:
  configuration:
    map-underscore-to-camel-case: false # 数据库下划线自动转驼峰标示关闭(为true，就简单粗暴的把下划线干掉了)
  mapper-locations: classpath*:mapper/*.xml # 读取mapper包下映射
  # 设置别名包扫描路径，通过该属性可以给包中的类注册别名
  type-aliases-package: plus.axz.model.admin.pojos

# 测试了文件上传
file:
  ip: localhost

# 图片访问ip
fdfs.url: http://192.168.20.221/
