server:
   port: 1124
spring:
 application:
   name: xiao-article
   # 文章微服务加载的时候，
   # 忽略DataSourceAutoConfiguration、忽略事务DataSourceTransactionManagerAutoConfiguration，
   # 有集成seata,可查询到数据，不用担心忽略而找不到数据
 autoconfigure:
   exclude: org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration,org.springframework.boot.autoconfigure.jdbc.DataSourceTransactionManagerAutoConfiguration
 kafka:
   bootstrap-servers: 192.168.20.221:9092
   consumer:
     group-id: ${spring.application.name}-kafka-group
     key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
     value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
 cloud:
   nacos:
     discovery:
       server-addr: 192.168.20.221:8848
   alibaba:
     seata:
       tx-service-group: ${spring.application.name}_tx_group
 datasource:
   driver-class-name: com.mysql.cj.jdbc.Driver
   url: jdbc:mysql://localhost:3307/xiao_article?serverTimezone=Asia/Shanghai&allowMultiQueries=true&useSSL=false
   username: root
   password: 123456
 servlet:
   multipart:
   max-file-size: 100MB
 # 设置Mapper接口所对应的XML文件位置，如果你在Mapper接口中有自定义方法，需要进行该配置
mybatis-plus:
   configuration:
     map-underscore-to-camel-case: false # 数据库下划线自动转驼峰标示关闭(为true，就简单粗暴的把下划线干掉了)
   mapper-locations: classpath*:mapper/*.xml
     # 设置别名包扫描路径，通过该属性可以给包中的类注册别名
   type-aliases-package: plus.axz.model.article.pojos
   global-config:
     # 数据中心id(取值范围：0-31)
     datacenter-id: 1
      # 机器id(取值范围：0-31)
     workerId: 1

#图片访问ip
fdfs.url: http://192.168.20.221/

#取消对elastsearch的健康检查
management:
  health:
    elasticsearch:
      enabled: false
#自定义elasticsearch连接配置
elasticsearch:
  host: 192.168.20.221
  port: 9200
xxljob:
  admin:
    addresses: http://localhost:8888/xxl-job-admin
  executor:
    appname: xiao-article-executor
    port: 6666
